<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
</head>

<body>
    <header class="header">
        <img class="menu-icon" src="/static/images/menu_icon.png">
        <div class="header-title">NyshiSite</div>
        <img class="user-icon" src="/static/images/user_icon.png">
    </header>
    <div class="container">{% block content %}{% endblock %}</div>

    <footer>
        <div class="links">
            <a href="https://twitter.com/NyshimoriMizuki" target="_blank">Twitter</a>
            <a href="https://github.com/NyshimoriMizuki" target="_blank">GitHub</a>
            <a href="https://nyshimori.carrd.co/" target="_blank">Links</a>
        </div>
        <div class="about"><i>Text</i></div>
    </footer>
</body>

</html>