<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="">
</head>

<body>
    <!-- <img class="menu-icon" src="/static/images/menu_icon.png"> -->
    <!-- <img class="user-icon" src="/static/images/user_icon.png"> -->
    <nav class="header">
        <ul class="menu">
            <li><a href="{{ url_for('views.home') }}">Menu</a></li>
            <li><a href="#">News</a></li>
        </ul>
        <div class="header-title"><i>NyshiSite</i></div>
        <a class="login" href="{{ url_for('auth.login') }}">Login</a>
    </nav>
    <div class="content">{% block content %}{% endblock %}</div>

    <footer>
        <div class="links">
            <a href="https://twitter.com/NyshimoriMizuki" target="_blank">Twitter</a>
            <a href="https://github.com/NyshimoriMizuki" target="_blank">GitHub</a>
            <a href="https://www.instagram.com/nyshimori_mizuki/" target="_blank">Instagram</a>
            <a href="https://nyshimori.carrd.co/" target="_blank">Links</a>
        </div>
        <div class="about"><i>This is a site that I'm making to explore the web development <br> Copyright? © 2023
                Nyshimori Mizuki</i>
        </div>
    </footer>
</body>

</html>