{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<form method="post" class="form">
    <h3 class="login-title"><i>Login</i></h3>
    <div class="login-form-group">
        <label for="email">Email</label>
        <input type="text" id="email" name="email" class="form-control" placeholder="Enter Email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
    </div>
    <button class="btn btn-primary" type="submit">Login</button>
</form>
{% endblock %}